{{define "newGroup"}}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#ff0b0b" />
		<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://telegram.org/js/telegram-web-app.js"></script>

		<script src="/static/js/form.js"></script>
		<script src="/static/js/schedule_buttons.js"></script>

		<link rel="stylesheet" href="/static/css/form.css" />

		<title>Создание новой группы</title>
		<meta name="description" content="" />
	</head>
	<body>
		<form class="login" id="first_login">
			<input type="text" onkeydown="disableEnterKey(event)" id="groupNameInput" placeholder="Название группы" />
			<button id="first_button" type="button" onclick="callGoFunction()">Создать</button>
		</form>

		<form class="login" id="second_login">
			<div id="form_schedule">
				<h1>Нечетная неделя</h1>
				<table>
					<tbody>
						<tr>
							<td>Понедельник</td>
						</tr>
						<tr>
							<td><input class="input_class" type="text" onkeydown="disableEnterKey(event)" placeholder="Предмет" id="even_monday_0" /></td>
						</tr>
						<tr>
							<td>
								<button class="button_plus" type="button" id="even_monday_plus_button">+</button>
								<button class="button_minus" type="button" id="even_monday_minus_button">-</button>
							</td>
						</tr>

						<tr>
							<td>Вторник</td>
						</tr>
						<tr>
							<td><input class="input_class" type="text" onkeydown="disableEnterKey(event)" placeholder="Предмет" id="even_tuesday_0" /></td>
						</tr>
						<tr>
							<td>
								<button class="button_plus" type="button" id="even_tuesday_plus_button">+</button>
								<button class="button_minus" type="button" id="even_tuesday_minus_button">-</button>
							</td>
						</tr>

						<tr>
							<td>Среда</td>
						</tr>
						<tr>
							<td><input class="input_class" type="text" onkeydown="disableEnterKey(event)" placeholder="Предмет" id="even_wednesday_0" /></td>
						</tr>
						<tr>
							<td>
								<button class="button_plus" type="button" id="even_wednesday_plus_button">+</button>
								<button class="button_minus" type="button" id="even_wednesday_minus_button">-</button>
							</td>
						</tr>

						<tr>
							<td>Четверг</td>
						</tr>
						<tr>
							<td><input class="input_class" type="text" onkeydown="disableEnterKey(event)" placeholder="Предмет" id="even_thursday_0" /></td>
						</tr>
						<tr>
							<td>
								<button class="button_plus" type="button" id="even_thursday_plus_button">+</button>
								<button class="button_minus" type="button" id="even_thursday_minus_button">-</button>
							</td>
						</tr>

						<tr>
							<td>Пятница</td>
						</tr>
						<tr>
							<td><input class="input_class" type="text" onkeydown="disableEnterKey(event)" placeholder="Предмет" id="even_friday_0" /></td>
						</tr>
						<tr>
							<td>
								<button class="button_plus" type="button" id="even_friday_plus_button">+</button>
								<button class="button_minus" type="button" id="even_friday_minus_button">-</button>
							</td>
						</tr>

						<tr>
							<td>Суббота</td>
						</tr>
						<tr>
							<td><input class="input_class" type="text" onkeydown="disableEnterKey(event)" placeholder="Предмет" id="even_saturday_0" /></td>
						</tr>
						<tr>
							<td>
								<button class="button_plus" type="button" id="even_saturday_plus_button">+</button>
								<button class="button_minus" type="button" id="even_saturday_minus_button">-</button>
							</td>
						</tr>

						<tr>
							<td>Воскресенье</td>
						</tr>
						<tr>
							<td><input class="input_class" type="text" onkeydown="disableEnterKey(event)" placeholder="Предмет" id="even_sunday_0" /></td>
						</tr>
						<tr>
							<td>
								<button class="button_plus" type="button" id="even_sunday_plus_button">+</button>
								<button class="button_minus" type="button" id="even_sunday_minus_button">-</button>
							</td>
						</tr>
					</tbody>
				</table>

				<h1>Четная неделя</h1>

				<table>
					<tbody>
						<tr>
							<td>Понедельник</td>
						</tr>
						<tr>
							<td><input class="input_class" type="text" onkeydown="disableEnterKey(event)" placeholder="Предмет" id="odd_monday_0" /></td>
						</tr>
						<tr>
							<td>
								<button class="button_plus" type="button" id="odd_monday_plus_button">+</button>
								<button class="button_minus" type="button" id="odd_monday_minus_button">-</button>
							</td>
						</tr>

						<tr>
							<td>Вторник</td>
						</tr>
						<tr>
							<td><input class="input_class" type="text" onkeydown="disableEnterKey(oddt)" placeholder="Предмет" id="odd_tuesday_0" /></td>
						</tr>
						<tr>
							<td>
								<button class="button_plus" type="button" id="odd_tuesday_plus_button">+</button>
								<button class="button_minus" type="button" id="odd_tuesday_minus_button">-</button>
							</td>
						</tr>

						<tr>
							<td>Среда</td>
						</tr>
						<tr>
							<td><input class="input_class" type="text" onkeydown="disableEnterKey(event)" placeholder="Предмет" id="odd_wednesday_0" /></td>
						</tr>
						<tr>
							<td>
								<button class="button_plus" type="button" id="odd_wednesday_plus_button">+</button>
								<button class="button_minus" type="button" id="odd_wednesday_minus_button">-</button>
							</td>
						</tr>

						<tr>
							<td>Четверг</td>
						</tr>
						<tr>
							<td><input class="input_class" type="text" onkeydown="disableEnterKey(event)" placeholder="Предмет" id="odd_thursday_0" /></td>
						</tr>
						<tr>
							<td>
								<button class="button_plus" type="button" id="odd_thursday_plus_button">+</button>
								<button class="button_minus" type="button" id="odd_thursday_minus_button">-</button>
							</td>
						</tr>

						<tr>
							<td>Пятница</td>
						</tr>
						<tr>
							<td><input class="input_class" type="text" onkeydown="disableEnterKey(event)" placeholder="Предмет" id="odd_friday_0" /></td>
						</tr>
						<tr>
							<td>
								<button class="button_plus" type="button" id="odd_friday_plus_button">+</button>
								<button class="button_minus" type="button" id="odd_friday_minus_button">-</button>
							</td>
						</tr>

						<tr>
							<td>Суббота</td>
						</tr>
						<tr>
							<td><input class="input_class" type="text" onkeydown="disableEnterKey(event)" placeholder="Предмет" id="odd_saturday_0" /></td>
						</tr>
						<tr>
							<td>
								<button class="button_plus" type="button" id="odd_saturday_plus_button">+</button>
								<button class="button_minus" type="button" id="odd_saturday_minus_button">-</button>
							</td>
						</tr>

						<tr>
							<td>Воскресенье</td>
						</tr>
						<tr>
							<td><input class="input_class" type="text" onkeydown="disableEnterKey(event)" placeholder="Предмет" id="odd_sunday_0" /></td>
						</tr>
						<tr>
							<td>
								<button class="button_plus" type="button" id="odd_sunday_plus_button">+</button>
								<button class="button_minus" type="button" id="odd_sunday_minus_button">-</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</body>
</html>
{{end}}
